body {
    margin: 0;
    padding: 0;
}

.trippy-box {
    height: 100px;
    width: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: pink;
    color: green;
}