:root {
    --icon-color: #FFFFFF;
    --icon-size-s: 1em;
    --icon-size-m: 1.5em;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    background-color: #1B1B1B;
    color: #FFFFFF;
}

main {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a,
a:visited,
a:hover {
    color: inherit;
    text-decoration: inherit;
}

ul {
    margin: 0;
    padding: 0.875em;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

li {
    list-style: none;
}

/* li {
    display: flex;
    align-items: center;
    position: relative;
} */

/* li::before {
    content: "- ";
    position: absolute;
    top: 0;
    left: -0.5em;
} */

address {
    font-style: normal;
}

.area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.card {
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 16px;
    border-width: 1px;
    padding: 0.75rem 1em;
    height: 16em;
    flex: 1 1 0;
    box-sizing: border-box;
    min-width: 15em;
    border-color: #7c7c7c;
}

.card:first-child {
    border-width: 3px;
    width: 15em;
    max-width: 15em;
    height: 16em;
    flex: 0 0 15em;
    border-color: #FFFFFF;
}

.card.card--hs {
    height: 8em;
}

.icon {
    background-color: var(--icon-color);
    display: inline-block;
    width: var(--icon-size-s);
    height: var(--icon-size-s);
    mask-repeat: no-repeat;
    mask-position: center;
    vertical-align: middle;
}

.icon--link {
    mask-image: url("images/external-link.svg");
    margin-top: -1rem;
}

.icon--gh {
    mask-image: url("images/github-circle.svg");
    width: var(--icon-size-m);
    height: var(--icon-size-m);
}