div:not(:last-child) {
    margin: 10% 0;
}
body {
    font-family: 'Outfit', sans-serif;
    font-size: 1.1em;
    padding: 0 10%;
    color:white;
    background-color: rgb(96, 0, 108);
    animation: 1s ease-out pageload;
}
@keyframes pageload {
    0% {
        background-color: black;
        opacity: 0;
    }
    100% {
        background-color: rgb(96, 0, 108);
        opacity: 100%;
    }
}
h1,h2,h3 {
    color: #ffff2e;
}
h1 {
    font-size: 4em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
img.headshot {
    width: 20%;
    float: right;
    margin: 0 0 5% 5%;
}
.horiz-line {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 2px;
    width: 40%;
    display: flex;
    animation: 5s linear horiz-line-anim;
}
/*@keyframes horiz-line-anim {
    0% {
        left: 0px;
    } 50% {
        left: 100px;
    } 100% {
        left: 0px;
    }
}*/
ul {
    list-style-image: url('/cs110/images/chevron16.png');
}
p, li {
    line-height: 2;
}
table {
    width: 100%;
    table-layout: fixed;
}
td {
    /*border-style: solid;*/
}
tr:nth-of-type(odd) > td:last-of-type {
    text-align: right;
}
a {
    color: white;
}
a:visited {
    color: rgb(137, 137, 137);
}
a:hover {
    color: red;
}
div#socials > ul {
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
div#socials > ul > li {
    margin: 0 2%;
}
div#socials > ul > li > a > img {
    width: 75%;
    height: auto;
}