:root {
    --lr-padding: 70px;
    --project-border: 3px dashed black;
}

body {
    font-family: 'Red Hat Mono', monospace;
    font-size: 1em;
    padding: 0;
    margin: 0;
    color: black;
    background-color: #FFFBEE;
    animation: 1s ease-out pageload;
}

.hide {
    display: none;
}

h1 {
    font-size: 64px;
    font-style: italic;
    font-weight: 400;
    margin: 0;
    padding-top: 8px;
    padding-left: var(--lr-padding);
}

#intro {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    padding: 0 var(--lr-padding);
    gap: 20px 64px;
    margin-bottom: 30px;
}

#contact-decor {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 1 0;
    /* giant font makes things awkward. dealing with it */
    margin-top: -16px;
    margin-left: -10px;
}

#contact-decor::before {
    font-size: 96px;
    font-weight: 300;
    content: '(';
}

#contact-decor::after {
    font-size: 96px;
    font-weight: 300;
    content: ')';
}

address {
    display: flex;
    flex-direction: column;
    padding-top: 18px;
    font-style: normal;
}

.contact-text {
    white-space: nowrap;
}

p {
    margin: 0;
}

#employment-status {
    flex: 1 1 0;
}

#roles {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.role {
    width: 220px;
}

.role-name {
    font-weight: 600;
    font-size: 18px;
}

.role-skills {
    font-style: italic;
    font-size: 13px;
}

#projects {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
}



.project {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0;
}

.project:first-child {
    border-top: var(--project-border);
    border-bottom: var(--project-border);
}

.project:not(:first-child) {
    border-bottom: var(--project-border);
}

.project-body {
    max-height: 0;
    overflow: hidden;
}

.toggle:checked+.title+label {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px var(--lr-padding);
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
    width: 100%;
}

input[type=checkbox]:hover {
    cursor: pointer;
}