:root {
    --yellow: rgb(255, 242, 0);
    --red: rgb(237,28,36);
    --sky-blue: rgb(137, 183, 243);
    --tan: rgb(228,193,137);
    --pretty-purple: #8f7cf8;
    --sd-pretty-purple: #5842d6;
    --wd-pretty-purple: #451f91;
    --sl-pretty-purple: #b294ff;
    
}
/*
html, body {
    max-width: 100%;
    overflow-x: hidden;
}*/

body {
    margin: 0;
    padding: 0;
    /*background: linear-gradient(to left,#8f7cf8, #5842d6);*/
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.livingroom-container {
    perspective: 500px;
}

.face {
    height: 90vh;
    width: 90vh;
    background: black;
    /*border: 1px solid white;*/
}

.left {
    position: relative;
    left: -90vh;
    top: 180vh;
    transform-origin: right;
    transform: rotateY(-90deg);
    background: var(--sd-pretty-purple);
}

.right {
    position: relative;
    left: 90vh;
    top: -180vh;
    transform-origin: left;
    transform: rotateY(90deg);
    background: var(--sd-pretty-purple);
}

.back-face {
    background: var(--pretty-purple)
}

.top {
    transform-origin: bottom;
    transform: rotateX(90deg);
    background: var(--sl-pretty-purple)
}

.bottom {
    transform-origin: top;
    transform: rotateX(-90deg);
    background-color: var(--wd-pretty-purple);
}

#header {
    background-color: var(--sky-blue);
}

#main-content {
    /*padding: 5% 10%;*/
}

p {
    color: white;
    font-size: 1.1rem;
    font-weight: 200;
}

/* website title */
h1 {
    font-weight: 600;
    text-align: center;
}

/* section headings (about me, projects, etc.) */
h2 {
    border-left: 5px solid;
    border-image: linear-gradient(to top, black 33%, white 33%, white 66%, black 66%) 1;
    color: black;
    font-size: 2.5rem;
    font-weight: 700;
    padding-left: 10px;
}

h3 {
    color: black;
    font-size: 2rem;
    font-weight: 600;
}

.proj-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.proj-item {
    display: flex;
    justify-content: flex-start; /* center along x axis*/
    gap: 20px;
}

.proj-item:nth-of-type(odd) {
    flex-direction: row; /* center along x axis*/
}

.proj-item:nth-of-type(even) {
    
    flex-direction: row-reverse;
}

.proj-item img {
    border: 3px solid black;
    border-radius: 10%;
    display: block;
    opacity: 1;
    transition: .5s ease;
}

.proj-item img:hover {
    opacity: 0.25;
    filter: blur(3px);
}

#footer {
    background-color: var(--tan);
    color: black;
    font-size: 1.1rem;
    width: 100%;
    height: 10%;
    text-align: center;
}