:root {
    --yellow: rgb(255, 242, 0);
    --red: rgb(237,28,36);
    --sky-blue: rgb(137, 183, 243);
    --tan: rgb(228,193,137);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--red);
    font-family: 'Source Sans Pro', sans-serif;
}

#header {
    background-color: var(--sky-blue);
}

#header-to-main-content {
    z-index: -1;
    background-color: var(--sky-blue);
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    height: 20%;
    transform: rotateZ(1.5deg);
}

#logo {
    background-color: var(--yellow);
    color: blue;
    height: 15%;
    margin: auto;
    animation: revolve 30s linear 3s infinite;
    width: 35%;
}

#logo::before {
    content: "jlmonge";
    color: black;
    font-family: 'Grechen Fuemen', cursive;
    text-shadow: 1px 1px black;
    font-size: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes revolve {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(360deg); }
}

#logo-sw1 {
    background-color: var(--yellow);
    width: 20%;
    height: 4%;
    border-width: 1px;
    border-color: black;
}

#logo-sw2 {
    background-color: var(--yellow);
    width: 8%;
    height: 6%;
    border-width: 1px;
    border-color: black;
}

#main-content {
    padding: 5% 10%;
}

p {
    color: white;
    font-size: 1.1rem;
    font-weight: 200;
}

/* website title */
h1 {
    font-weight: 600;
    text-align: center;
}

/* section headings (about me, projects, etc.) */
h2 {
    border-left: 5px solid;
    border-image: linear-gradient(to top, black 33%, white 33%, white 66%, black 66%) 1;
    color: black;
    font-size: 2.5rem;
    font-weight: 700;
    padding-left: 10px;
}

h3 {
    color: black;
    font-size: 2rem;
    font-weight: 600;
}

.proj-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.proj-item {
    display: flex;
    justify-content: flex-start; /* center along x axis*/
    gap: 20px;
}

.proj-item:nth-of-type(odd) {
    flex-direction: row; /* center along x axis*/
}

.proj-item:nth-of-type(even) {
    
    flex-direction: row-reverse;
}

.proj-item img {
    border: 3px solid black;
    border-radius: 10%;
    display: block;
    opacity: 1;
    transition: .5s ease;
}

.proj-item img:hover {
    opacity: 0.25;
    filter: blur(3px);
}

#main-content-to-footer {
    background-color: var(--tan);
    z-index: 100;
    position: relative;
    top: 3px;
    left: 0;
    width: 100%;
    height: 20%;
    transform: rotateZ(1.5deg);
}

#footer {
    background-color: var(--tan);
    color: black;
    font-size: 1.1rem;
    width: 100%;
    height: 10%;
    text-align: center;
}