* {
    box-sizing: border-box;
}

:root {
    --yellow: rgb(255, 242, 0);
    --red: rgb(237,28,36);
    --sky-blue: rgb(137, 183, 243);
    --tan: rgb(228,193,137);
}

body {
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.logo-link {
    text-decoration: none;
}

.logo {
    margin: 0;
    padding: 0;
    background-image: url(/images/static.gif);
    min-width: 145px;
    height: 100%;
}

.logo::before {
    content: "jlmonge";
    color: var(--yellow);
    font-family: 'Bebas Neue', cursive;
    text-shadow: 1px 1px black;
    font-size: 53px; /* 6vh*/
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
}

.nav-links {
    display: flex;
    justify-content: right;
    width: 50%;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.25rem;
    display: block;
    transition: 0.2s ease;
    height: 7vh;
    text-align: center;
}

.nav-links ul li a:hover {
    background-color: white;
    color: black;
}


.toggle-button {
    position: absolute;
    top: 2.8vh;
    right: 2vh;
    display: none; /* should only show up on smaller screens */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 1px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 765px) {
    .toggle-button {
        display: flex;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .nav-links {
        display: none;
        width: 100%;
        position: absolute;
        top: 8.7%;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        width: 40%;
    } 
    
    .nav-links li a {
        padding: 1rem 2rem;
    }

    .nav-links.active {
        display: flex;
    }

}

#main-content {
    padding: 5% 10%;
}

.divider {
    
    height: .1%;
    width: 100%;
}

p {
    font-size: 1.1rem;
    font-weight: 200;
}

/* website title */
h1 {
    font-weight: 600;
    text-align: center;
}

/* section headings (about me, projects, etc.) */
h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 10px 0px;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
    margin: 10px 0px;
}

.proj-container {
    display: flex;
    flex-direction: column;
}

.proj-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* center along x axis*/
}

.proj-item img {
    border-radius: 1%;
    display: block;
    opacity: 1;
    width: 50%;
}

footer {
    font-size: 1.1rem;
    width: 100%;
    height: 10%;
    text-align: center;
}